{% extends 'extended_base.html' %}
{% block content %}

{% if messages %}

{% for message in messages %}
{% if message.tags == "error" %}
<div class="">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p class=""> {{ message }}</p>
</div>
{% endif %}
{% endfor %}

{% endif %}


    <form id="monster_race" method="POST" action="{% url 'race' %}">
    {% csrf_token %}
        {{form}}

        <div class="form-group row">
            <label for="name_id" class="col-sm-2 col-form-label">Ime</label>
            <div class="col-sm-4">

                    {{form.name}}
            </div>

            </div>
        </div>

        <div id="features_id" >
            <p class="input_label">Features</p>
            {{ form.features }}
        </div>

        <div id="traits_id" >
            <p class="input_label">Traits</p>
            {{ form.traits }}
        </div>

        <div id="weaknesses_id" >
            <p class="input_label">Weaknesses</p>
            {{ form.weaknesses }}
        </div>

        <div id="image_id" >
            <p class="input_label">Image</p>
            {{ form.image }}
        </div>

        <div id="form_footer">
            <input id="monster_race_id" type="submit" class="form_button_input" value="Save" />
        </div>
    </form>

</body>
</html>

{% endblock %}