{% extends 'monsters_extended_base.html' %}
{% block content %}

{% if messages %}

{% for message in messages %}
{% if message.tags == "error" %}
<div class="" xmlns="http://www.w3.org/1999/html">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p class=""> {{ message }}</p>
</div>
{% endif %}
{% if message.tags == "success" %}
<div class="">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p class=""> {{ message }}</p>
</div>
{% endif %}
{% endfor %}

{% endif %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monster races</title>
</head>
<body>
    <table class="table table-striped" style="color:white;">
        <thead>
        <tr>
            <font color="red">
            <th scope="col">#</th>
            <th scope="col">Име</th>
            <th scope="col">Особине</th>
            <th scope="col">Својства</th>
            <th scope="col">Слабости</th>
            </font>
        </tr>
        </thead>
        <tbody>
            {% for one in all %}
            <tr>
                <th scope="row">{{rowcount}}</th>
                <td><a href="{% url 'race' one.id %}">{{one.name}}</a></td>
                <td><a href="{% url 'race' one.id %}">{{one.features}}</a></td>
                <td><a href="{% url 'race' one.id %}">{{one.traits}}</a></td>
                <td><a href="{% url 'race' one.id %}">{{one.weaknesses}}</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <a href="/monsters/race" class="btn btn-outline-primary" style="color:white;"
       tabindex="-1" role="button" aria-disabled="true">Додај расу</a>
</body>
</html>


{% endblock %}